<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block pagetitle %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/css/index.css' %}">
</head>
<body>
    <h1>{% block title %}{% endblock %}</h1>
    <h2>Projects by @gdloacev</h2>
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About Me</a></li>
        <li><a href="{% url 'portfolio' %}">Portfolio</a></li>
        <li><a href="{% url 'contact' %}">Contact Me</a></li>
    </ul>
    {% block content %} {% endblock %}
    <script src="{% static 'core/js/index.js' %}"></script>
</body>
</html>